<div class="container">
    <div class="logo">
        <div class="logo_img"></div>
    </div>
    <div class="content">
        <header class="header">
            <div class="header_title">Выберите друзей</div>
            <div class="header_icon">

            </div>
        </header>
        <div id="search">
            <div class="searching" id="search_left">
                <input type="text" placeholder="Начните вводить имя друга">
            </div>
            <div class="searching" id="search_right">
                <input type="text" placeholder="Название">
            </div>
        </div>
        <section class="lists">
            <div class="left" id="lists-left-panel">
                <div class="text">Ваши друзья</div>
                <div id="lists-left" class="drag-parent"> 
                    <!-- левый список -->
                </div>
            </div>
            <div class="right" id="lists-right-panel">
                <div class="text">Друзья в списке</div>
                <div id="lists-right" class="drag-parent">
                    <!-- правый список -->
                </div>    
            </div>
        </section>
        <footer class="footer">
            <button id="save">Сохранить</button>
            <button id="delete">Удалить</button>
        </footer>
    </div>
</div>
